@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="display:block; margin-left: auto; margin-right: auto;">
    <h3 style="margin-top:10%;" class="center-block">
        @if (ViewBag.Message != null)
        {
            ViewBag.Message = ViewBag.Message.Replace("\"", "");
        }
        @ViewBag.Message
    </h3>
    <img src="~/images/watchshop.jpg" style="height:40%;width:40%; border:5px solid" class="center-block"/>
</div>