@model BrandViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-2 col-xs-12">&nbsp;</div>
<div class="text-center col-sm-8 col-xs-12">
    <form asp-controller="Brand" asp-action="SelectBrand" method="post">
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
        <div class="col-sm-4 col-xs-12" style="padding-bottom:5%;">
            <span style="font-size: large;top:20px;position:relative;padding:5px;">Categories</span>
            <select asp-for="BrandId" asp-items="@Model.GetBrands()" style="top:35px;position:relative;padding:5px;" class="form-group form-control" onchange="this.form.submit();">
                <option selected style="display:none;">Select Brand</option>
            </select>
        </div>
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
        <catalogue brand="@Model.BrandId"></catalogue>
    </form>
</div>
<div class="modal" id="details_popup">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-body">
                <a href="" style="font-size:xx-large" data-dismiss="modal" class="pullright">X</a>
                <div class="text-center">
                    <img alt="" id="detailsGraphic" /><br />
                    <h4 id="description"></h4>
                </div>
                <form asp-controller="Brand" asp-action="SelectProduct" method="post" role="form">
                    <div class="text-center col-sm-offset-2">
                        <table>
                            <tr><td class="col-xs-8 text-right">Price</td><td class="col-xs-4 text-left" id="CostPrice"></td></tr>
                            <tr>
                                <td class="col-xs-6 text-right">Qty:</td>
                                <td class="col-xs-4 text-left">
                                    <input asp-for="Qty" type="number" maxlength="3" size="3" style="width: 50px;" id="qty" />
                                    <input asp-for="Id" type="hidden" id="detailsId" />
                                </td>
                            </tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                        </table>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-default" id="modalbtn">Add To Cart</button>
                        <button id="btnRemove" type="submit" class="btn-sm btn btn-danger">Remove Item</button>
                        <a href="/Cart" class="btn btn-sm btn-success">View Cart</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="results" class="text-center">
                    @ViewBag.AddMessage
                </div>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
